# fly.toml app configuration file generated for hackney-bindicator on 2023-12-15T08:57:58-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "hackney-bindicator"
primary_region = "lhr"

[build]
dockerfile = './Dockerfile'

[build.args]
GO_VERSION = '1.24'

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
